**/node_modules
**/dist
**/.next
**/out
**/build
**/coverage
**/logs
**/.idea
**/.vscode
**/temp
**/.DS_Store
**/Thumbs.db
**/target
**/*cache/**
**/*.log
**/*.tmp
**/*.bak
**/*.cache
**/.env
**/*.pfx
**/*.key
**/*.pem
**/*.crt